In [1]:
from dotenv import load_dotenv
import os
from openai import OpenAI
load_dotenv()
api_key = os.getenv('OPENAI_API_KEY')
client = OpenAI(api_key=api_key)

In [2]:
import pandas as pd

dfEmbeddings = pd.read_csv(
    'C:/Users/alire/OneDrive/data/statman_bitbucket/aki/LLM/March2024/openai_3large_operation.csv'
)
dfEmbeddings.head()

,project_id,operation_no,X1,X2,X3,X4,X5,X6,X7,X8,...,X3063,X3064,X3065,X3066,X3067,X3068,X3069,X3070,X3071,X3072
0,PR-00000001,1,0.011898,0.036309,-0.005463,0.008832,0.014760,0.027967,-0.035566,0.017884,...,-0.010715,0.010800,-0.012413,0.012261,0.008452,0.008917,0.010977,-0.029892,-0.010766,-0.010437
1,PR-00000002,2,0.000332,0.027386,-0.020735,-0.030093,0.011078,0.034497,-0.051592,-0.001025,...,-0.004109,0.002861,0.003123,-0.000474,0.001826,0.023946,0.022539,-0.020903,-0.003339,0.002045
2,PR-00000003,3,-0.013588,0.006824,-0.002654,0.027271,0.033145,0.019402,-0.031663,0.027783,...,0.004871,0.006225,-0.000025,0.002941,-0.011971,0.019294,0.002917,0.003523,0.004716,0.002019
3,PR-00000004,4,0.028444,0.027613,-0.017272,-0.006343,0.022245,0.052718,-0.014736,0.047054,...,0.011954,-0.006590,0.000384,-0.010179,0.002074,0.015004,0.001219,-0.010087,0.011813,0.037503
4,PR-00000005,5,0.015713,0.057943,-0.016102,0.009510,-0.026413,0.027086,-0.050581,0.033581,...,-0.001399,-0.003857,-0.012810,-0.008986,-0.001552,0.009922,0.005754,-0.013910,-0.013042,-0.006614

In [3]:
dfPatients = pd.read_csv(
    'C:/Users/alire/OneDrive/data/statman_bitbucket/aki/LLM/March2024/patients_for_python.csv'
)
dfPatients.head()

,project_id,operation_no,is_female,age,ethnicity,height,weight,broad_diagnosis_grouping,transformed_specific_procedure,count_diagnoses,...,kdigo_stage_creat,stay_duration_days,survival_days,urine_output_ml_kg_below_0.5,urine_output_ml_kg_below_0.3,anuria,kdigo_stage_urine,urine_output_ml_kg_avg,optime,kdigo_stage
0,PR-00000001,1,1,18.11,white,148.0,80.9,NaN,NaN,2,...,0.0,3.0,NaN,9.0,5.0,0.0,1.0,0.993370,112.0,0.0
1,PR-00000002,2,0,17.29,white,179.0,77.5,NaN,NaN,3,...,NaN,5.0,NaN,2.0,0.0,0.0,0.0,1.811853,87.0,NaN
2,PR-00000003,3,0,17.18,white,180.0,65.0,NaN,NaN,2,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PR-00000004,4,1,18.23,BAME,169.0,56.1,NaN,NaN,3,...,0.0,25.0,NaN,16.0,5.0,0.0,2.0,1.061992,144.0,1.0
4,PR-00000005,5,1,16.86,white,166.0,61.6,NaN,NaN,3,...,0.0,11.0,NaN,4.0,0.0,0.0,0.0,0.910138,114.0,0.0

In [8]:
dfPatients_subset = dfPatients.loc[:, ['project_id', 'operation_no', 'kdigo_stage']].dropna()
dfPatients_subset.head()

    project_id  operation_no  kdigo_stage
0  PR-00000001             1          0.0
3  PR-00000004             4          1.0
4  PR-00000005             5          0.0
5  PR-00000006             6          0.0
6  PR-00000007             7          0.0

In [11]:
dfCombined = pd.merge(
    dfPatients_subset
    , dfEmbeddings
    , on = ['project_id', 'operation_no']
    , how = 'inner'
)

In [16]:
X, y = dfCombined.iloc[:, 3:].to_numpy(), dfCombined.iloc[:, 2].to_numpy()

In [18]:
from sklearn.model_selection import train_test_split
import numpy as np
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)