In [1]:
from dotenv import load_dotenv
import os
from openai import OpenAI
load_dotenv()
api_key = os.getenv('OPENAI_API_KEY')
client = OpenAI(api_key=api_key)

In [2]:
import pandas as pd

dfEmbeddings = pd.read_csv(
    'C:/Users/alire/OneDrive/data/statman_bitbucket/aki/LLM/March2024/openai_3large_operation.csv'
)
dfEmbeddings.head()

,project_id,operation_no,X1,X2,X3,X4,X5,X6,X7,X8,...,X3063,X3064,X3065,X3066,X3067,X3068,X3069,X3070,X3071,X3072
0,PR-00000001,1,0.011898,0.036309,-0.005463,0.008832,0.014760,0.027967,-0.035566,0.017884,...,-0.010715,0.010800,-0.012413,0.012261,0.008452,0.008917,0.010977,-0.029892,-0.010766,-0.010437
1,PR-00000002,2,0.000332,0.027386,-0.020735,-0.030093,0.011078,0.034497,-0.051592,-0.001025,...,-0.004109,0.002861,0.003123,-0.000474,0.001826,0.023946,0.022539,-0.020903,-0.003339,0.002045
2,PR-00000003,3,-0.013588,0.006824,-0.002654,0.027271,0.033145,0.019402,-0.031663,0.027783,...,0.004871,0.006225,-0.000025,0.002941,-0.011971,0.019294,0.002917,0.003523,0.004716,0.002019
3,PR-00000004,4,0.028444,0.027613,-0.017272,-0.006343,0.022245,0.052718,-0.014736,0.047054,...,0.011954,-0.006590,0.000384,-0.010179,0.002074,0.015004,0.001219,-0.010087,0.011813,0.037503
4,PR-00000005,5,0.015713,0.057943,-0.016102,0.009510,-0.026413,0.027086,-0.050581,0.033581,...,-0.001399,-0.003857,-0.012810,-0.008986,-0.001552,0.009922,0.005754,-0.013910,-0.013042,-0.006614

In [3]:
dfPatients = pd.read_csv(
    'C:/Users/alire/OneDrive/data/statman_bitbucket/aki/LLM/March2024/patients_for_python.csv'
)
dfPatients#.head()

,project_id,operation_no,kdigo_stage,age,height,is_female,weight,optime,height_loess,height_residual,bmi
0,PR-00000001,1,0,18.11,148,1,80.90,112,166.584841,-0.111564,36.933893
1,PR-00000004,4,1,18.23,169,1,56.10,144,166.876136,0.012727,19.642169
2,PR-00000005,5,0,16.86,166,1,61.60,114,163.251800,0.016834,22.354478
3,PR-00000006,6,0,16.88,162,1,44.30,109,163.309470,-0.008018,16.880049
4,PR-00000007,7,0,18.12,175,0,70.50,119,174.752633,0.001416,23.020408
...,...,...,...,...,...,...,...,...,...,...,...
825,PR-00000874,958,1,0.21,55,0,4.70,184,56.343167,-0.023839,15.537190
826,PR-00000875,959,0,0.04,47,1,2.70,188,51.808184,-0.092807,12.222725
827,PR-00000876,960,0,0.03,55,0,3.27,82,51.872541,0.060291,10.809917
828,PR-00000877,961,1,0.01,50,1,3.91,113,51.097843,-0.021485,15.640000
829,PR-00000879,963,0,0.02,51,1,2.90,62,51.335179,-0.006529,11.149558

In [4]:
my_features = ['age', 'is_female', 'height_residual', 'bmi']

dfPatients_subset = dfPatients.loc[:, ['project_id', 'operation_no', 'kdigo_stage'] + my_features].dropna()
#dfPatients_subset#.head()

In [5]:
dfCombined = pd.merge(
    dfPatients_subset
    , dfEmbeddings
    , on = ['project_id', 'operation_no']
    , how = 'inner'
)
dfCombined.head()

,project_id,operation_no,kdigo_stage,age,is_female,height_residual,bmi,X1,X2,X3,...,X3063,X3064,X3065,X3066,X3067,X3068,X3069,X3070,X3071,X3072
0,PR-00000001,1,0,18.11,1,-0.111564,36.933893,0.011898,0.036309,-0.005463,...,-0.010715,0.010800,-0.012413,0.012261,0.008452,0.008917,0.010977,-0.029892,-0.010766,-0.010437
1,PR-00000004,4,1,18.23,1,0.012727,19.642169,0.028444,0.027613,-0.017272,...,0.011954,-0.006590,0.000384,-0.010179,0.002074,0.015004,0.001219,-0.010087,0.011813,0.037503
2,PR-00000005,5,0,16.86,1,0.016834,22.354478,0.015713,0.057943,-0.016102,...,-0.001399,-0.003857,-0.012810,-0.008986,-0.001552,0.009922,0.005754,-0.013910,-0.013042,-0.006614
3,PR-00000006,6,0,16.88,1,-0.008018,16.880049,-0.007845,0.023508,-0.005998,...,-0.013415,0.010606,0.014791,0.005237,-0.004206,-0.001317,-0.000014,0.000099,0.010530,-0.001090
4,PR-00000007,7,0,18.12,0,0.001416,23.020408,0.011898,0.036309,-0.005463,...,-0.010715,0.010800,-0.012413,0.012261,0.008452,0.008917,0.010977,-0.029892,-0.010766,-0.010437

In [6]:
X, y, Z = (
    dfCombined.iloc[:, (3 + len(my_features)):].to_numpy()
    , dfCombined.iloc[:, 2].to_numpy(dtype = 'int')
    , dfCombined.iloc[:, 3:(3 + len(my_features))].to_numpy()
)

In [7]:
from sklearn.model_selection import train_test_split
import numpy as np
X_train, X_test, y_train, y_test, Z_train, Z_test = train_test_split(X, y, Z, test_size = 0.3)

In [8]:
from TextEmbeddingFE.main import FeatureExtractor_BinaryClassifier

my_fe = FeatureExtractor_BinaryClassifier(n_neighbors = 50).fit(X = X_train, y = y_train, cv = 10)

Z_train_B = np.column_stack((Z_train, my_fe.predict_proba()))
Z_test_B = np.column_stack((Z_test, my_fe.predict_proba(X_test)))

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

my_model_A = LogisticRegression().fit(Z_train, y_train)
my_roc_A = roc_auc_score(y_test, my_model_A.predict_proba(Z_test)[:, 1])

my_model_B = LogisticRegression().fit(Z_train_B, y_train)
my_roc_B = roc_auc_score(y_test, my_model_B.predict_proba(Z_test_B)[:, 1])

In [10]:
(my_roc_A, my_roc_B)

(0.5737040133779264, 0.656103678929766)

In [12]:
len(y_train), len(X_train)

(581, 581)